<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Database system</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/sweetalert.css">
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <!--菜单所用css-->
    <link href="/static/css/plugins/metisMenu.css" rel="stylesheet">
    <link href="/static/css/plugins/metisMenu.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/plugins/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/plugins/menu.css">
    <link rel="stylesheet" href="/static/css/plugins/prism.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/static/css/mm-vertical.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />

  </head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Database service platform</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" role="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in">admin</a></li>
            <li><a href="/logout">退出</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <!-- <ul id="mytab">
            <li>
              <a>系统管理</a>
              <ul id="navsidebar" class="nav nav-sidebar">
                <li><a href="/user">用户</a></li>
                <li><a href="/idc">机房</a></li>
                <li><a href="/pc">机器</a></li>
              </ul>
            </li>
          </ul> -->
          <nav class="sidebar-nav">
          <ul class="metismenu" id="menu">
            <li>
              <a class="has-arrow" href="#"><span class="fa fa-fw fa-github fa-lg"></span>
              用户管理</a>
              <ul id="nav1sidebar" aria-expanded="true">
                <li><a href="/user">用户</a></li>
                <li><a href="/idc">机房</a></li>
                <li><a href="/pc"><span class="fa fa-fw fa-star"></span>机器</a></li>
              </ul>
            </li>

            <li>
              <a class="has-arrow" href="#" aria-expanded="false">机房管理</a>
              <ul aria-expanded="false">
                <li><a href="/idc">baidu</a></li>
                <li><a href="/pc">eastmoney</a></li>
                
              </ul>
            </li>

          </ul>
          </nav>

       </div>

      


       <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header" id='page-header-title'></h1>
                {% block body %}

                {% endblock %}
        </div>
      </div>
    </div>
    <script src='/static/js/jquery.min.js'> </script>
    <script src='/static/js/bootstrap.min.js'></script>
    <script src='/static/js/sweetalert.min.js'></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src='https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js'></script>
    <script src='/static/js/bootstrap-datetimepicker.js'></script>
    <!--导航栏js-->
    <script src="/static/js/plugins/metisMenu.js"></script>
    <script src="/static/js/plugins/metisMenu.min.js"></script>
    <script src="/static/js/plugins/prism.min.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.4.1/packaged/jquery.noty.packaged.min.js"></script>
    <script>
       <!--导航条加标色-->
       var path = location.pathname
       //$("#navsidebar").find('[href="'+path+'"]').parent().addClass('active') 

       <!-- 显示每个页面标题-->
       <!-- 获取url名称-->
       var $page = $("#nav1sidebar").find('[href="'+path+'"]')
       $page.parent().addClass('active')
       <!-- 标题显示url名称-->
       $("#page-header-title").html($page.html())

       $("#menu").metisMenu({
          toggle:true
       })
    </script>
    {% block js %}

    {% endblock %}
  </body>
</html>
