
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dashboard Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <!-- <link href="/static/vendor/datatable/datatable.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <link href="/static/vendor/sweetalert/sweetalert.css" rel="stylesheet">
<style>
.bd{
	background:#ddd; 
	padding:0 5px;
}
</style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
          
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div id="navsiderbar" class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/user/userlist">用户信息<span class="sr-only">(current)</span></a></li>
            <li><a href="#">日志信息</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="#">Nav item</a></li>
            <li><a href="#">Nav item again</a></li>
          </ul>
        </div>


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h4 class="page-header" id="page-header-title"></h4>    	
				{% block body %}			          	
				{% endblock %}
        </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- // <script src="/static/vendor/datatable/datatable.js"></script> -->
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
    <script src="/static/vendor/sweetalert/sweetalert.min.js"></script>

<script>
// 显示选中导航栏 在页面中的名称
var path = location.pathname
// console.log(path)
var $page = $("#navsiderbar").find('[href="'+path+'"]')
// console.log($page)
$page.parent().addClass('active')
$('#page-header-title').html($page.html())

{% block js %}

{% endblock %}
</script>
</body>
</html>
